<a href="https://colab.research.google.com/github/WRFitch/fyp/blob/main/src/fyp_model_testing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Testing
A notebook for testing an exported model. Ideally, this can be considered a part of a model evaluation pipeline, in which a model can be evaluated in greater depth.

## Setup

### Notebook Setup

In [ ]:
!pip uninstall -y fastai
!pip install -U --no-cache-dir fastai

In [30]:
from fastai.vision.all import *
from google.colab import drive
#from scipy import stats
from sklearn.metrics import mean_squared_error

import numpy as np 
import os 
import pandas as pd

drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
%rm -rf /content/fyp/

In [2]:
# Import fyputil library
%cd /content
!git clone https://github.com/WRFitch/fyp.git
%cd fyp/src/fyputil
import constants as c
import fyp_utils as fyputil
%cd /content

/content
Cloning into 'fyp'...
remote: Enumerating objects: 305, done.
remote: Counting objects: 100% (305/305), done.
remote: Compressing objects: 100% (250/250), done.
remote: Total 817 (delta 198), reused 103 (delta 55), pack-reused 512
Receiving objects: 100% (817/817), 143.45 MiB | 32.85 MiB/s, done.
Resolving deltas: 100% (453/453), done.
/content/fyp/src/fyputil
/content

### Data Setup

In [3]:
# Add a dummy label script to fool fastai into letting us import the model. 
# We're not going to train the model further, so this is fine. 
def getGhgsAsArr(img_path):
  return np.array()

model = load_learner(f"{c.model_dir}/{c.model_name}.pkl")

In [ ]:
ghg_df = pd.read_csv(c.ghg_csv)
ghg_df = fyputil.normGhgDf(ghg_df)
ghg_df

      Unnamed: 0  ... O3_column_number_density
0            134  ...                 1.435862
1            135  ...                 1.435798
2            136  ...                 1.435488
3            137  ...                 1.435175
4            138  ...                 1.435099
...          ...  ...                      ...
1881        4147  ...                 1.440403
1882        4148  ...                 1.440447
1883        4149  ...                 1.440476
1884        4150  ...                 1.440376
1885        4151  ...                 1.440371

[1886 rows x 10 columns]

In [ ]:
err_headers = [c.lon, c.lat] + c.ghg_bands
errors = pd.DataFrame(columns = err_headers)
errors.iloc[0:1]

Empty DataFrame
Columns: [longitude, latitude, CO_column_number_density, tropospheric_HCHO_column_number_density, tropospheric_NO2_column_number_density, O3_column_number_density, SO2_column_number_density, CH4_column_volume_mixing_ratio_dry_air]
Index: []

## Testing

### Test model against existing data

In [ ]:
print(c.ghg_bands)

# TODO replace with fyputil, OR re-implement to keep any failed measurements and
# evaluate what you can out of them. Just because they're incomplete, that 
# doesn't make them worthless 
def getGhgs(img_path, df): 
  coords = fyputil.getCoords(str(img_path))
  ghgs = fyputil.getValAt(coords, df)
  concentrations = ghgs[c.ghg_bands]
  if len(concentrations) == 0 : return None 
  if None in concentrations: return None
  # There has to be a cleaner way to do this. Iterating through and then only getting the first line? really? 
  return [tuple(x) for x in concentrations.to_numpy()][0]

['CO_column_number_density', 'tropospheric_HCHO_column_number_density', 'tropospheric_NO2_column_number_density', 'O3_column_number_density', 'SO2_column_number_density', 'CH4_column_volume_mixing_ratio_dry_air']

In [ ]:
mod = 0 

for filename in os.listdir(c.png_dir):
  file_ghgs = getGhgs(filename, ghg_df)
  if file_ghgs == None: continue
  if mod % 1 == 0:
    print(f"predicting ghg gases at {filename}")
    coords = fyputil.getCoords(filename) 
    prediction = model.predict(f"{c.png_dir}/{filename}")[0]

    diffs = [pred - act for pred, act in zip(prediction, file_ghgs)]
    errors.loc[len(errors)] = list(coords) + diffs

    print(tuple(coords))
    print(prediction)
    print(file_ghgs)
    print(diffs)
    print()
  mod += 1

In [ ]:
errors

      longitude  ...  CH4_column_volume_mixing_ratio_dry_air
0     -0.786026  ...                               -0.007811
1      0.345851  ...                               -1.755932
2      0.336868  ...                               -0.056323
3      0.282969  ...                               -0.048038
4      0.202121  ...                               -0.036178
...         ...  ...                                     ...
1900   0.318902  ...                               -0.056347
1901   0.354835  ...                                0.018875
1902   0.372801  ...                               -0.020478
1903   0.363818  ...                               -0.028944
1904   0.381784  ...                               -0.033949

[1905 rows x 8 columns]

In [ ]:
errors.to_csv(f"{c.data_dir}/errors.csv")

### Basic stat testing 
- Data exploration 
- RMSE per GHG
- Extract outliers & view images

In [5]:
errors = pd.read_csv(f"{c.data_dir}/errors.csv")

In [33]:
model_stats = pd.DataFrame(columns = ["stat"] + c.ghg_bands)

In [54]:
def getRmse(series): 
  return np.sqrt(np.mean(series**2))

In [58]:
# Define aggregate metrics 
means = [errors[ghg].mean() for ghg in c.ghg_bands ]
stdevs = [errors[ghg].std() for ghg in c.ghg_bands ]
rmse = [getRmse(errors[ghg]) for ghg in c.ghg_bands ]

model_stats.loc[1] = ["Mean"] + means
model_stats.loc[2] = ["Standard Deviation"] + stdevs 
model_stats.loc[3] = ["RMSE"] + rmse

In [60]:
model_stats

                 stat  ...  CH4_column_volume_mixing_ratio_dry_air
1                Mean  ...                               -0.039068
2  Standard Deviation  ...                                0.611025
3                RMSE  ...                                0.612113
4     functional RMSE  ...                                0.612113

[4 rows x 7 columns]

In [ ]:
# Find outliers

### Sample images vs predictions 
what regions are easier to predict than others? 

create accuracy heatmap

### Activation Mapping