<a href="https://colab.research.google.com/github/WRFitch/fyp/blob/main/src/fyp_model_testing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Testing
A notebook for testing an exported model

## Setup

### Notebook Setup

In [ ]:
!pip uninstall -y fastai
!pip install -U --no-cache-dir fastai

In [1]:
%rm -rf /content/fyp/

In [ ]:
# Import fyputil library
%cd /content
!git clone https://github.com/WRFitch/fyp.git
%cd fyp/src/fyputil
import constants as c
import fyp_utils as fyputil
%cd /content

In [ ]:
from fastai.vision.all import *
from google.colab import drive

import os 
import pandas as pd

drive.mount('/content/drive')
drive_path = c.drive_path

### Data Setup

In [7]:
model_dir = f"{drive_path}/models"
model_name = "resnet152_MRGHG_Demo1"

# Add a dummy label script to fool fastai into letting us import the model. 
# We're not going to train the model further, so this is fine. 
def getGhgsAsArr(img_path):
  return np.array()

model = load_learner(f"{c.model_dir}/{model_name}.pkl")

In [10]:
ghg_df = pd.read_csv(c.ghg_csv)
ghg_df = fyputil.normGhgDf(ghg_df)
ghg_df

      Unnamed: 0  ... O3_column_number_density
0            134  ...                 1.435862
1            135  ...                 1.435798
2            136  ...                 1.435488
3            137  ...                 1.435175
4            138  ...                 1.435099
...          ...  ...                      ...
1881        4147  ...                 1.440403
1882        4148  ...                 1.440447
1883        4149  ...                 1.440476
1884        4150  ...                 1.440376
1885        4151  ...                 1.440371

[1886 rows x 10 columns]

In [11]:
err_headers = [c.lon, c.lat] + c.ghg_bands
errors = pd.DataFrame(columns = err_headers)
errors.iloc[0:1]

Empty DataFrame
Columns: [longitude, latitude, CO_column_number_density, tropospheric_HCHO_column_number_density, tropospheric_NO2_column_number_density, O3_column_number_density, SO2_column_number_density, CH4_column_volume_mixing_ratio_dry_air]
Index: []

## Testing

### Plot error vs actual

In [ ]:
mod = 0 

for filename in os.listdir(c.png_dir):
  if len(getGhgs(filename)) == 0: continue
  if mod % 1000 == 0:
    print(f"predicting {filename}")
    prediction = model.predict(f"{c.png_dir}/{filename}")[0]
    df_row = 
  mod += 1

### Sample images vs predictions 
what regions are easier to predict than others? 

create accuracy heatmap

### Activation Mapping